html {
    height: 100vh;
    font-family: Baloo;
}

body {
    background: conic-gradient(#eeaeca, #94bbe9);
    box-sizing: border-box;
}

#yes-container,
#no-container {
    margin: 5px;
    text-align: center;
}

#yes-container span,
#no-container span {
    margin: 10px;
    font-size: 40px;
}

.main-container {
    display: flex;
    height: 50%;
    font-size: large;
    width: 90vw;
    margin: 0 auto;
}

@media screen and (min-width: 800px){
    .main-container {
        max-width: 60%;
    }
}

#yes-container,
#no-container {
    align-items: center;
    text-align: center;
    width: 50%;
    font-size: 1.2rem;
}

span {
    margin: 5px;
    padding-top: 5px;
}


#yes-btn{
    background-color: #80D87F;
}

#no-btn {
    background-color: #E23349;
}

h1 {
    letter-spacing: 2px;
    text-align: center;
    color: white;
}

input {
    margin: 0 auto;
    display: block;
    border: none;
    height: 30px;
    background: white;
    border-radius: 6px;
    text-align: center;
}

button {
    font-family: Baloo;
    background: darkcyan;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    margin: 0 4px;
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
    margin: 10px 0 0;
}

